*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    direction: rtl;
    font-family: "vazir";
    background: #f8f8f8f8;
}
nav{
    display: flex;
    align-items:center;
    justify-content: centerx;
    background: #fff;
    box-shadow: 0 0 10px rgb(117, 117,117, 3);
    height: 65px;
    padding: 0 20px;
}
.container{
 width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
.nav-links ul{
    display: flex;
}
.nav-links li{
   
    margin: 0 10px;
}
.nav-links a{
color: #333;
font-size: 17px;
}

.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo img{
    width: 75px;
    background: transparent;
}
.nav-toggle{
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}
.nav-socials{
    display: flex;
    
}
.nav-socials li{
   margin-left: 10px;
    
}
.nav-socials a{
    color: #333;
    font-size: 17px;
}
@media screen and (max-width :767px) {
    .nav-logo{
        width: 100%;
    }
    .nav-toggle{
        display: block;
    }
    .nav-links{
        position: absolute;
        right: 0;
        left: 0;
        top: 65px;
        height: auto;
        
        background: #f5f2f2;
    }
    .nav-links ul{
        display: block;

    }
    .nav-links ul li{
        padding: 15px 20px;
    }
    .nav-socials{
        display: none;
    }


    
}