*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    direction: rtl;
    font-family: "vazir";
}
nav{
    display: flex;
    align-items:center;
    justify-content: centerx;
    background: #fff;
    box-shadow: 0 0 10px rgb(117, 117,117, 3);
    height: 65px;
    padding: 0 20px;
}
.container{
 width: 580px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    
}
.nav-links ul{
    display: flex;
}
.nav-links li{
   
    margin: 0 10px;
}
.nav-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-logo img{
    width: 75px;
}
.nav-toggle{
    background: transparent;
    border: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: none;
}
.nav-socials{
    display: flex;
    
}
.nav-socials li{
   margin-left: 10px;
    
}